h5 {
    margin-bottom: 1em;
}
.search-video {
    margin: 1.5em 0;
    &--title {
        font-size: 1.3em;
        margin-top: 0.4em;
    }
}
.video-player {
    margin-bottom: 2em;
}
.video-item,
.playlist-item {
    position: relative;
    margin-bottom: 0.8em;
    &--description {
        font-size: 0.9em;
        font-weight: 600;
        line-height: 1.1em;
        margin-top: 0.2em;
    }
    &--image {
        width: 100%;
    }
    &--actions {
        position: absolute;
        right: 2%;
        top: 3%;
        z-index: 1;
        &-item {
            cursor: pointer;
            padding: 0.1em 0.4em;
            border-radius: 0.2em;
            margin-left: 0.2em;
            i {
                font-size: 0.9em;
                color: #FFF;
                line-height: 0.1em;
            }
        }
        &-play, &-plus {
            background-color: #007bff;
            border-color: #007bff;
            &:hover {
                background-color: #0069d9;
                border-color: #0062cc;
            }
        }
        &-remove {
            background-color: #dc3545;
            border-color: #dc3545;
            &:hover {
                background-color: #c82333;
                border-color: #bd2130;
            }
        }
    }
}

.video-item {
    margin-bottom: 1.5em;
    &--description {
        font-size: 1.1em;
        line-height: 1.3em;
        margin-top: 0.5em;
    }
    &--actions {
        &-item {
            padding: 0.3em 0.7em;
        }
    }
}

.playlist-item {
    margin-bottom: 0.8em;
    &--description {
        font-size: 0.9em;
        line-height: 1.1em;
        margin-top: 0.2em;
    }
    &--actions {
        &-item {
            padding: 0 0.4em 0.1em;
        }
    }
}